{% extends 'products/base.html' %}

{% block title %}Tech - {{ product_action }} Produto{% endblock %}

{% block header %} {% include 'products/partials/_header.html' %} {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ product_action }} Produto</h2>

        <form action="#" method="POST" id="productForm" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Nome do Produto:</label>
                <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
            </div>
            <br>
            <div class="form-group">
                <label for="provider">Fornecedor:</label>
                <input type="text" class="form-control" id="provider" name="provider" value="{{ product.provider }}" required>
            </div>
            <br>
            <div class="form-group">
                <label for="value">Preço:</label>
                <input type="text" class="form-control" id="value" name="value" value="{{ product.value }}" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary"> {{ product_action }} Produto</button>
        </form>
    </div>
{% endblock %}

{% load static %}
{% block script %}
    <script src="{% static '/js/utils.js' %}"></script>
    <script src="{% static '/js/product.js' %}"></script>
{% endblock %}